<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Setimo VueJs Incluindo e Excluindo da Lista com Design Reativo</title>
</head>

<body>

    <div class="container" id="app">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="Add a task" v-model="inputTask">
            </div>
            <div class="col-xs-4">
                <!-- <button class="btn btn-success" v-on:click="addTask">Adicionar</button> -->
                <!-- Botão com Design Reativo -->
                <!--adicionamos o shorthand :class incluindo a classe disabled do bootstrap,
                  fazendo a mesma verificação para que, quando não houver texto digitado na caixa
                 de texto, o botão Adicionar ficará desabilitado-->
                <button class="btn btn-success" :class="{'disabled':inputTask.trim()==''}" @click="addTask">
                    Adicionar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <table class="table">
                    <thead>
                        <th>Nome da Tarefa</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="task in tasks">
                            <td class="col-xs-11">
                                {{task.name}}
                            </td>
                            <td class="col-xs-1">
                                <button class="btn btn-danger" v-on:click="removeTask(task.id)">x</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                tasks: [{
                    id: 1,
                    name: "Aprendendo Vue"
                }, {
                    id: 2,
                    name: "Aprendendo npm"
                }, {
                    id: 3,
                    name: "Aprendendo Java"
                }],
                inputTask: ""

            },
            methods: {
                addTask() {
                    if (this.inputTask.trim() != "") {
                        this.tasks.push({
                            name: this.inputTask,
                            id: this.tasks.length + 1
                        })
                        this.inputTask = "";
                    }
                },
                removeTask(id) {
                    for (var i = this.tasks.length; i--;) {
                        if (this.tasks[i].id === id) {
                            this.tasks.splice(i, 1);
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>